body{
    font-family: 'Lato', sans-serif;
    background-color: $bgPrimary;
    color: $fontPrimary;

}

h1{
    font-size: $font-size * 2;
}

h2{
    font-size: $font-size * 1.5;

}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
