body{
    font-family: 'Lato', sans-serif;
    // background-color: $bgPrimary;
    color: $fontPrimary;
    font-size: $font-size;

}

h1{
    font-size: $font-size * 2;
}

h2{
    font-size: $font-size * 1.5;

}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.row-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-center{
    text-align: center;
}

section{
    padding-top: $spacing * 4;
    padding-bottom: $spacing * 2;
}
