header{
    // padding: 0 150px;
}

.info-header-top{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: $spacing 150px;
    background-color: $bgPrimary;

    span{
        padding: 0 $spacing;
        font-size: $font-size - 2px;
        color: gray;

        &:hover{
            color: $fontPrimary;
            text-decoration: underline;
            cursor: pointer;
        }

        i{
            color: #009cff;
            margin-right: 5px;
        }
    }

    select{
        border-radius: 5px;
    }
}

.menu-header{
    background-color: $bgPrimary;
    display: flex;
    justify-content: flex-start ;
    align-items: center;
    padding: $spacing 150px;
}

#logo{
    cursor: pointer;
}

.list-menu{

    ul{
        display: flex;

        li{
            position: relative;

            &:hover .drop-menu{
                display: block;
            }

            &:hover a {
                background-color: $bgHover;
                color: $fontSecondary;
                cursor: pointer;
            }

            a{
                padding: $spacing;
                color: $fontPrimary;

                i{
                    margin-left: 5px;
                }
            }

            .drop-menu{
                background-color: $bgHover;
                color: $fontSecondary;
                position: absolute;
                top: 20px;
                left: 0;
                display: none;
                z-index: 10;

                ul{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;

                    li{
                        padding: $spacing ;

                        a{
                            color: $fontSecondary;
                            padding: 0 ;
                            cursor: pointer;

                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}

.header-center{
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: $spacing $spacing * 4;
    background-image:url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg");
    background-position: center;
}

.title{
    margin-right: $spacing * 2;

    ul{
        padding: 0;
    }

}

.download{
    background-color: #666;
    display: flex;
    align-items: center;
    max-width: 200px;
    padding: $spacing - 15px;
    line-height: normal;
    cursor: pointer;

    &:hover{
        background-color: darken(#666, 10%);
    }

    i{
        color: $fontPrimary;
        margin-left: $spacing;
        font-size: $font-size * 1.5;
    }

}

.item{
    border-right: 1px solid $fontPrimary;
    padding: 0 $spacing - 15px;

    p:first-child {
        text-transform: uppercase;
    }

    p{
        margin: 0;
    }
}

.box{
    background-color: black;
    padding: $spacing;
    padding-bottom: 100px;
}

.info-price{
    display: flex;
    justify-content: space-between;
}

.price{
    margin-right: $spacing * 2;

    p:first-child{
        font-size: $font-size * 2;
        margin-bottom: 0;
    }

    p{
        text-transform: uppercase;
    }
}

#buy{
    background-color: #009cff;
    border-radius: 5px;
    text-transform: uppercase;
    color: $fontPrimary;
    padding: $spacing / 2 $spacing;
    margin: $spacing 0;

    &:hover{
        background-color: lighten(#009cff, 10%);
        cursor: pointer;
    }

}

.offer{
    padding: $spacing;
    background-color: $fontPrimary;

    h2{
        text-transform: uppercase;
        color: $fontSecondary;
        margin: 0;
    }

    p{
        color: $fontSecondary;
        margin: 0;
    }

    a{
        color: #009cff;

        &:hover{
            text-decoration: underline;
        }
    }
}
