#quick{
    background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/intro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.title-quick a{
    margin-left: $spacing;
    color: $fontPrimary;
    font-size: $font-size * 1.5;
}

.img-intro{
    position: relative;
    margin-top: $spacing;
    width: 100%;

    #img-border{
        position: absolute;
        margin: 0 auto;
        top: 0px;
        left: 0;
        right: 0;
        z-index: 9;
        bottom: 0;
        object-fit: contain;
        width: 100%;
    }

    #img-video{
        position: relative;
        top: 5px;
        width: 98%;
        border-radius: 20px;
    }

    .playlink{
        background-image: url("https://www.painterartist.com/static/ptr/images/icons/ico-play-circle-white.png");
        display: inline-block;
        width: 110px;
        height: 110px;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
    }
}

// CAROUSEL section
#carousel{
    background-color: $bgSecondary;
}

.title-carousel{
    h1{
        color: $fontSecondary;
    }

    p{
        color: $fontSecondary;
    }
}

.image-slider{
    padding: $spacing * 2;
    @include row-center;

    img{
        width: 80%;
    }

    i{
        color: orange;
        font-size: $font-size * 2;
        cursor: pointer;
        padding: $spacing;
    }
}

//  bg-fixed-middle
#bg-fixed-middle{
    background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/image-bg-02.jpg");
    height: 650px;
    background-color: #ccc;
    @include bg-fixed;
}

// section flex-photo
.flex-photo{
    background-color: #222;
}

.title-flex-photo p{
    margin-bottom: $spacing * 4;
    font-size: $font-size * 1.2;
}

.photo img{
    width: 80%;
}

.text-flex-photo{
    margin: $spacing ;

    p {
        font-size: $font-size * 1.2;
    }
}

//  bg-fixed-bottom
#bg-fixed-bottom{
    background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/image-bg-01.jpg");
    height: 650px;
    background-color: #ccc;
    @include bg-fixed;
}

// section tools
.title-tools h1{
    color: $fontSecondary;
}

#tools{
    .row-around{
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}

#tools img{
    margin: $spacing;
    border-radius: 5px;

    &:hover{
        transform: scale(1.05);
        transition: 1.5s;
        cursor: pointer;
    }
}

//section info-bottom
#info-bottom{
    background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/brushpacks-bg.jpg");
}

.first-info-box, .second-info-box{
    background-color: #ffffff;
    margin: $spacing;
    padding: $spacing * 2;
    width: 50%;

    h2{
        color: $fontSecondary;
    }

    p{
        color: $fontSecondary;
    }

}
