$bgPrimary: #101010;
$fontPrimary: #ffffff;
$font-size: 14px;
$fontSecondary: #333;
$spacing: 20px;
$bgHover: #ffffff;
$bgSecondary: rgb(240, 240, 240);
$instagram: #ff8a85;
$facebook: blue;
$twitter: #5cbff7;
$youtube: red;
$pinterest: #7c0000;
$rss: orange;
