$bgPrimary: #101010;
$bgSecondary: #6ed5f6;
$fontPrimary: #ffffff;
$fontSecondary: #333;
$font-size: 14px;
$spacing: 20px;
$bgHover: #00ff85;

//icon social
$instagram: #ff8a85;
$facebook: blue;
$twitter: #5cbff7;
$youtube: red;
$pinterest: #7c0000;
$rss: orange;
